
@import 'tailwindcss';



html, body {
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
